<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Welcome to Capgemini</title>
    </head>
    <body>
        <h1 th:inline="text">Welcome to Capgemini [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
           <!--  <input type="hidden"
	name="${_csrf.parameterName}"
	value="${_csrf.token}"/> -->
        </form>
    </body>
</html>